<% include ../partials/head %>
<% include ../partials/nav %>
<% include ../partials/scripts %>
<% include ../partials/sidebar %>

<div class="main-footer">
    <div class="table-wrapper">
       
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone No#</th>
                        <th scope="col">Mobile No#</th>
                        <th scope="col">Address</th>
                        <th scope="col">Designation</th>
                        <th scope="col">Department</th>
                    </tr>
                </thead>
            </table>
    </div>
</div>
</body>
</html>