

    <% include ../partials/head %>

    <body>

        <% include ../partials/nav %>
        <% include ../partials/sidebar %>
        <% include ../partials/scripts %>
        <div class="main-footer">
         <div class="container">
            <div class="alert alert-danger">
                 <strong>Danger!</strong> You should <a href="#" class="alert-link">read this message</a>.
            </div>
         </div>
        </div>>

        

        <% include ../partials/footer %>

        

    </body>

</html>
