<!DOCTYPE html>
<html lang="en">

    <% include ../partials/head %>

    <body>

        <% include ../partials/nav %>
        <% include ../partials/sidebar %>
        <% include ../partials/scripts %>

        <section name="jumbotron"  >
            <div class="jumbotron text-center">
                <h1>NPS</h1>
                <p>Using EJS templating with Node.js</p>
            </div>
        </section>

        <% include ../partials/3columns %>

        <% include ../partials/footer %>

        

    </body>

</html>