<!DOCTYPE html>
<html lang="en">

    <% include ../../partials/head %>

    <body>

        <% include ../../partials/nav %>
        <% include ../../partials/sidebar %>
        <% include ../../partials/scripts %>

        <section name="jumbotron"  >
            <div class="jumbotron text-center">
                <img src ="https://s3-ap-southeast-1.amazonaws.com/kalibrr-company-assets/logos/UDVXZBUMA29WJZ67QALB-579063f0.png">
                <h1>NPS</h1>
                <p></p>
            </div>
        </section>

        

        <% include ../../partials/footer %>



    </body>

</html>
